/* css/style.css */



@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500; 
  font-style: normal;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}



body{
    background:#FFFFFF;
    font-family: 'inter',"sans-serif";
    font-size: 14px;
    font-weight:500;
}
:root{
--bg-light-blue:#EFF8FF;
--primary-color:#0165B3;
--secondary-color:#5A5D60;
--color-red:#BD0000;
--border:1px solid #E6E7E8;
--border-radius:8px;
--padding:12px;
}
button{
  border: none;
  outline: none;
  padding:10px 16px;
  border-radius:6px;
  cursor: pointer;


}
label,:is(input,textarea)::placeholder{
    color:var(--secondary-color);
}
label{
    font-weight: 500;
}
:is(input,textarea)::placeholder{
    font-weight: 400;
}
.btn-primary{
    background-color:var(--primary-color); 
    color:#fff ;
}
.btn-secondary{
    background-color: #F7F7F8;
    color:var(--secondary-color);
}
button:focus {
  outline: none;
  border: none;
}

button:focus-visible {
  outline: none;
  border: none;
}
.container{
    max-width:100%;
    padding-inline: 24px;
    display: block;
    margin:auto;
}
h2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color:#101828;
}
.header-one{
    padding: 15px 24px;
}
.logout-btn{
    padding: 10px 16px;
    border: 1px solid #E6E7E8;
    border-radius:6px;
}
.logout-btn:focus{
    border: 1px solid #E6E7E8;
}
.site-header .nav-menu-container{
    padding:8px 24px;
    font-size:16px;
    background: #0165B3 !important;
}
.nav-menu-container .menu-items{
    display: flex;
    gap: 16px;
}
.nav-menu-container .menu-items li a{
    color: #F7F7F8;
}
.nav-menu-container .menu-items li .nav-link.show{
    color:#F7F7F8;
}
.nav-menu-container .menu-items li .show li a{
    color:#000;
}
.nav-menu-container .menu-items .nav-item .dropdown-menu.show{
    width:240px;
    margin-top: 8px;
}
.nav-menu-container .menu-items li a::after{
    display: none;
}
.nav-menu-container .menu-items .dropdown::after{
    content: "|";
    position: absolute;
    color: #0A95ED;
    top: 25%;
    right: -6px;
    font-size: 14px;
    width: 0;
}
.role-access:after{
    display: none;
}
.form-list{
   width: 100%;
}
.user-search{
    padding: 36px 24px 12px;
}
.user-search .text-part h2{
    font-size: 22px;
}
.user-search .text-part p{
    font-size: 12px;
    padding: 2px 8px;
    background: rgba(51, 102, 210, 0.09);
    border-radius: 16px;
}
.user-search form{
    gap: 10px;
    width: 580px;
}
.user-search form .btn-add-user{
    position: relative;
    background: #0165B3;
    color: #FFFFFF;
    max-width: 117px;
    width: 100%;
    border: none;
    padding: 10px 14px;
    font-size: 14px;
}
.user-search form .btn-add-user img{
    position: absolute;
    left: 10%;
    top:35%;
    width: 12px;
}
.user-search form input{
    padding: 10px 14px;
    font-size: 14px;
    width: 62%;
}
.user-search form .btn-download{
    position: relative;
    background: #F7F7F8;
    border: none;
    color: #5A5D60;
    padding: 10px 14px;
    font-size: 14px;
    max-width: 117px;
    width: 100%;
}
.site-header .nav-menu-container .dropdown-divider{
    display: none;
}
.user-search form .btn-download img{
    position: absolute;
    left: 10%;
    top: 31%;
    width: 13px;
    height: 13px;
}
.table-list{
    width: 100%;
    margin-top: 12px;
}
.table-list .table{
    border: 1px solid #E6E7E8;
    border-radius: 8px;
    overflow: hidden;
    background: #E6E7E8;
}
.table-list .table thead tr th{
    background: #F7F7F8;
    color: #5A5D60;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
.table-list .table tbody tr th,
.table-list .table tbody tr td{
    padding: 16px 24px;
    font-weight: 400;
    color:#252627;
}
.table-list .table .active-status span{
    background: rgba(9, 111, 13, 0.09);
    color: #096F0D;
    padding: 2px 16px;
    border-radius: 16px;
    position: relative;
   
}

.table-list .table .active-status span::before{
    content:"";
    position: absolute;
    background: #096F0D;
    width: 6px;
    height: 6px;
    border-radius:50%;
    left: 7px;
    top: 8px;

}
.table-list .table .inactive-status span{
    background: rgba(189, 0, 0, 0.09);
    color: #BD0000;
    padding: 2px 16px;
    border-radius: 16px;
    position: relative;
}
.table-list .table .inactive-status span::before{
    content:"";
    position: absolute;
    background: #BD0000;
    width: 6px;
    height: 6px;
    border-radius:50%;
    left: 7px;
    top: 8px;

}
.table-list .table tbody .edit-delete span{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.table-list .table tbody .edit-delete span img{
    cursor: pointer;
}
.pagination-wrapper{
    width: 100%;
}
.pagination-wrapper .btn.btn-secondary{
    background: #F7F7F8;
    border: none;
    color: #5A5D60;
    position: relative;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    
}

.pagination-wrapper .btn.btn-secondary img{
    width: 19px;
    margin-left: 3px;
    margin-bottom: 2px;
}
.pagination-page{
    display: flex;
    gap: 2px;
}
.pagination-wrapper nav {
    width: 44%;
}
.pagination-wrapper nav .pagination.m-0 .previo a,
.pagination-wrapper nav .pagination.m-0 .pagination-page li a,
.pagination-wrapper nav .pagination.m-0 .next li a{
    border: none;
    color: #5A5D60;
    padding: 10px 16px;
    font-size: 14px;
}
.pagination-wrapper nav .pagination.m-0{
    display: flex;
    justify-content: space-between;
}
.pagination-wrapper nav .pagination.m-0 .previo li a,
.pagination-wrapper nav .pagination.m-0 .next li a{
    border: 1px solid #E6E7E8;
    display: flex;
    

}
.pagination-wrapper nav .pagination.m-0 .previo li a img,
.pagination-wrapper nav .pagination.m-0 .next li a img{
    width: 20px;
    margin-bottom: 1px;
}
.pagination-wrapper nav .pagination.m-0 .previo li a img{
    margin-right: 8px;
}
.pagination-wrapper nav .pagination.m-0 .next li a img{
    margin-left: 8px;
}
.pagination-wrapper nav .pagination.m-0  .pagination-page .page-item.active a{
    color: #0165B3;
    background: #EFF8FF;
    border-radius: 6px;
   
}
.site-footer{
    padding: 16px 8px;
    background: rgba(51, 102, 210, 0.09);
    color: #0165B3;
    font-size: 12px;
    margin-top: 132px;
}
.page-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    z-index: 99; 
    
}
.page-overlay .logout-confirmation{
    width: 340px;
    padding: 24px;
    background: #fff;
    border-radius: 10px;
    gap: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.page-overlay .logout-confirmation .questions h3{
    font-size: 16px;
    color: #101828;
}
.page-overlay .logout-confirmation .questions p{
    font-weight: 400;
    color: #667085;
}
.page-overlay .logout-confirmation .buttons-wrapper{
    gap:16px
}
.page-overlay .logout-confirmation .buttons-wrapper button{
    padding: 10px 16px;
    font-size: 14px;
    width: 50%;
    font-weight: 500;
}
.page-overlay .logout-confirmation .buttons-wrapper .btn-light{
    background-color: #F7F7F8;
    color: #5A5D60;
}
.page-overlay .logout-confirmation .buttons-wrapper .btn-danger{
    background: #BD0000;
    color: #FFFFFF;
}
.cross-icon{
    cursor: pointer;
}
.add-user .user-addition{
    background: #ffffff;
    padding: 24px;
    width: 40%;
    position: absolute;
    right: 0;
    height: 100vh;
}
.add-user .user-addition h3{
    color:#252627;
    font-size: 22px;
    font-weight: 600;
    margin-bottom:24px;
}
.add-user .user-addition .status-module {
    gap: 16px;
}
.add-user .user-addition .status-module div{
    width: 50%;
}
.add-user .user-addition .d-flex.flex-column div,
.add-user .user-addition .d-flex.flex-column div input,
.add-user .user-addition .d-flex.flex-column div select
{
    color: #5A5D60;
}
.add-user .user-addition .d-flex.flex-column div input,
.add-user .user-addition .d-flex.flex-column div select{
    font-size: 14px;
}
.add-user .user-addition .adduser-btn-wrapper .buttons-wrapper{
    gap: 16px;
}
.add-user .user-addition .adduser-btn-wrapper .buttons-wrapper button{
    width: 50%;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
}
.add-user .user-addition .adduser-btn-wrapper .buttons-wrapper .btn-light{
    background: #F7F7F8;
    color: #5A5D60;
}
.add-user .user-addition .adduser-btn-wrapper .buttons-wrapper .btn-danger{
    background: #0165B3;
    color: #ffffff;
    border-color:#0165B3 ;
}

@media(max-width:1200px){
    .pagination-wrapper nav{
        width: auto;
    }
    .table-list .table tbody .edit-delete span{
        width: auto;
    }
}
/* maker only css */

.bg-light-blue{
    background-color: var(--bg-light-blue);
}
.border{
    border-radius: var(--border-radius) !important;
    border:var(--border) !important;
}
.pad-12{
    padding:var(--padding);
}
.no-bg{
  all: unset; 
  cursor: pointer; 
  display: inline-block;
}

.maker-wrapper .no-bg{
    color:var(--primary-color);
}

.maker-top-wrapper{
    gap:12px;
}
button.upload-btn{
    background-color: var(--primary-color);
    padding:10px 62.5px;
    color:#fff !important;

}
.remark textarea{
    padding:10px 14px;
    resize: none;
    font-size: 14px;
}
.maker-bottom-wrapper{
    margin-top:16px;
}
.maker-bottom-wrapper label{
    margin-bottom:6px;
    font-size: 14px;
}
.btn-groups{
    gap:10px;
    padding-top:16px;
    justify-content: flex-end;

}
.maker-wrapper{
    padding-block:36px;
}
.maker-wrapper h2{
    margin-bottom:12px;
}
.list-title{
    font-weight: 400;
}
.maker-wrapper li{
    font-weight: 400;
    padding-top:7px;
}
.maker-wrapper ul.lists{
    padding-left:15px;
    margin-bottom: 32px;
}
.list-title{
    font-size: 14px;
}

.custom-file-input{
display: none;
width:0;
height: 0;
}
.upload-file-title{
    font-size: 16px;
    margin-block: 8px 4px;
}
.upload-file-title + p{
    font-weight: 400;
}
.upload-btn{
    margin-top:24px;
}
#upload-file-modal,#notify-modal{
    background-color: #26262640;
    width:100%;
    height: 100%;
    position: fixed;
    inset: 0;
    place-content: center;
    opacity:0;
    display: none;
    visibility: none;
    transition: all 0.3s ease-in-out;
}
#upload-file-modal.active,#notify-modal.active{
    display: grid;
    visibility: visible;
    opacity: 1;
}
.modal-wrapper{
    max-width: 340px;
    width:100%;
    height: auto;
    gap: 32px;
    opacity: 1;
    border-radius: 10px;
    padding: 24px;
    background-color: #fff;
    padding: 24px;

}
.modal-title{
    font-size: 16px;
    line-height: 24px;
}
.modal-footer{
    gap:16px;
    margin-top:32px;
}
.modal-footer button{
    display:block;
    width:calc(50% - 8px);
}
.modal-header{
    margin-bottom:4px;
}
.modal-body p{
font-weight: 400;
}
.error-message,.btn-groups,.maker-table-wrapper{
    display: none;
}
.error-message.active{
font-weight: 400;
color:var(--color-red);
padding-top:4px;
display:block;

}
.btn-groups.active{
    display:flex;
}
.maker-table-wrapper.active{
    display:block;
}
.top-btn{
    justify-content: flex-end;
}
.maker-table-wrapper{
    margin-top:32px;
}
.maker-wrapper .lists span{
    font-weight:500;
}
.maker-top-wrapper label{
    pointer-events: none;
}
.no-gap{
    gap:0 !important;
}
.modal-body p,.upload-file-title{
    word-break: break-all;
}
@media(max-width:768px){
.col-6{
    flex:0 0 100%;
    width: 100%;
}
.maker-top-wrapper{
    flex-direction: column;
}
}